## Python Basic Programming Exercises

Q1: What is the output of following expression
    5 + 4 * 9 % (3 + 1) / 6 - 1

In [ ]:
5 + 4 * 9 % (3 + 1) / 6 - 1
5 + 4 * 9 % 4 / 6 - 1
4 * 9 = 36
36 % 4 = 0
0 / 6 = 0.0
5 + 0.0 - 1
4.0

Q2: Write a program to check if a Number is Odd or Even. Take number as a input from user at runtime.

In [4]:
num = int(input("Enter a number: "))

if num % 2 == 0:
    print(f"{num} is an even number.")
else:
    print(f"{num} is an odd number.")

Enter a number: 5
5 is an odd number.

Q3: Write a program to display the multiplication table by taking a number as input.
    [Hint : Use print statement inside of a loop]

In [5]:
num = int(input("Enter a number: "))

for i in range(1, 11):
    print(f"{num} x {i} = {num * i}")

Enter a number: 12
12 x 1 = 12
12 x 2 = 24
12 x 3 = 36
12 x 4 = 48
12 x 5 = 60
12 x 6 = 72
12 x 7 = 84
12 x 8 = 96
12 x 9 = 108
12 x 10 = 120

Q4: Write a program which will find all numbers between 2000 and 3200 which are divisible by 7
    but are not a multiple of 5.

Note: The numbers obtained should be printed in a comma-separated sequence on a single line.

In [6]:
numbers = []

for i in range(2000, 3201):
    if i % 7 == 0 and i % 5 != 0:
        numbers.append(str(i))

print(','.join(numbers))

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

Q5: Count the elements of each datatype inside the list and display in output
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [7]:
data = [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

type_counts = {}

for item in data:
    item_type = type(item).__name__
    if item_type in type_counts:
        type_counts[item_type] += 1
    else:
        type_counts[item_type] = 1

for dtype, count in type_counts.items():
    print(f"{dtype}: {count}")

int: 5
str: 4
float: 1
bool: 1
NoneType: 1

Q6: Add all values from the list with numeric datatypes
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [8]:
data = [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

total = 0

for item in data:
    if isinstance(item, (int, float)):
        total += item

print(total)

22.5

Q7: Concat all str datatypes with hyphen as a delimiter
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [9]:
data = [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

result = '-'.join(str(item) for item in data if isinstance(item, str))

print(result)

Py-10-SQL-John

Q8 Get only odd numbers from the following list and store the numbers in new list
    li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]

    i. Use loops to get the answer
   ii. Use list comprehensions
  iii. Use lambda function with filter

In [3]:
li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]
odd_numbers = []


for num in li:
    if num % 2 != 0:
        odd_numbers.append(num)

print(odd_numbers)

[5, 7, 97, 77, 23, 73, 61]

In [2]:
li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]


odd_numbers = [num for num in li if num % 2 != 0]

print(odd_numbers)

[5, 7, 97, 77, 23, 73, 61]

In [1]:
li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]


odd_numbers = list(filter(lambda num: num % 2 != 0, li))

print(odd_numbers)

[5, 7, 97, 77, 23, 73, 61]

Q9: Write an udf to calculate the area of different shapes

Take shape and dimensions as arguments to udf as follows :

1. square which has side
2. rectangle which has length and width
3. circle which has radius

The shape should be a positional argument and it's dimensions are taken as kwargs

Perform proper validation for the user inputs and then calculate area.

E.g. if shape is square, ensure kwargs has "side" and if so, then you may return the area, else display appropriate error message like "Please enter 'side' for a square"

In [ ]:
side = float(input("Enter the side length of the square: "))
if side > 0:
    area_square = side ** 2
    print(f"Area of the square: {area_square}")
else:
    print("Side must be positive.")

In [ ]:
length = float(input("Enter the length of the rectangle: "))
width = float(input("Enter the width of the rectangle: "))
if length > 0 and width > 0:
    area_rectangle = length * width
    print(f"Area of the rectangle: {area_rectangle}")
else:
    print("Length and width must be positive.")

In [15]:
radius = float(input("Enter the radius of the circle: "))
if radius > 0:
    area_circle = 3.14 * radius ** 2
    print(f"Area of the circle: {area_circle}")
else:
    print("Radius must be positive.")

Enter the radius of the circle: 4
Area of the circle: 50.24

Q10: write a UDF to check if a number is prime or not.

In [16]:
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True

number = int(input("Enter a number to check if it's prime: "))
if is_prime(number):
    print(f"{number} is a prime number.")
else:
    print(f"{number} is not a prime number.")

Enter a number to check if it's prime: 14
14 is not a prime number.



> Add blockquote

In [ ]:
A prime number is a natural number greater than 1 that cannot be formed by multiplying two smaller natural numbers. The function is_prime checks if a number is prime by testing divisibility from 2 up to the square root of the number. If the number is divisible by any of these, it is not prime.

Q11. Write a program that takes a string and returns reversed string. i.e. if input is "abcd123" output should be "321dcba"

In [17]:
input_string = input("Enter a string: ")
reversed_string = input_string[::-1]
print("Reversed string:", reversed_string)

Enter a string: 123abc
Reversed string: cba321